---
swagger: "2.0"
info:
  description: "Welcome to Phrase's TMS API documentation. \n\n Please visit our [help\
    \ center](https://support.phrase.com/hc/en-us/sections/5709662083612) for more\
    \ information about the APIs. \n\n If you have any questions, please contact [Support](https://support.phrase.com/hc/requests/new).\
    \ \n\n Please, include the `User-Agent` header with the name of your application\
    \ or project. It might be a good idea to include some sort of contact information\
    \ as well, so that we can get in touch if necessary. Examples of excellent `User-Agent`\
    \ headers:\n > User-Agent: Example mobile app (example@phrase.com) <br/> User-Agent:\
    \ ACME Inc Java 1.8 Client (http://acmeinc.com/contact)"
  version: "Latest"
  title: "Phrase TMS API"
host: "cloud.memsource.com"
basePath: "/web"
tags:
- name: "Additional Workflow Step"
- name: "Analysis"
- name: "Async Request"
- name: "Authentication"
- name: "Bilingual File"
- name: "Business Unit"
- name: "Client"
- name: "Connector"
- name: "Conversations"
- name: "Cost Center"
- name: "Custom Fields"
- name: "Custom File Type"
- name: "Domain"
- name: "Email Template"
- name: "File"
- name: "Glossary"
- name: "Import settings"
- name: "Job"
- name: "Language Quality Assessment"
- name: "Machine Translation"
- name: "Machine Translation Settings"
- name: "Mapping"
- name: "Net Rate Scheme"
- name: "Price List"
- name: "Project"
- name: "Project Reference File"
- name: "Project Template"
- name: "Provider"
- name: "Quality Assurance"
- name: "Quote"
- name: "SCIM"
- name: "Segment"
- name: "Segmentation Rules"
- name: "Spell Check"
- name: "SubDomain"
- name: "Supported Languages"
- name: "Term Base"
- name: "Translation"
- name: "Translation Memory"
- name: "User"
- name: "Vendor"
- name: "Webhook"
- name: "Workflow Step"
- name: "Workflow changes"
schemes:
- "https"
paths:
  /api2/v1/additionalWorkflowSteps/{id}:
    delete:
      tags:
      - "Additional Workflow Step"
      summary: "Delete additional workflow step"
      description: ""
      operationId: "deleteAWFStep"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "Deleted"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/additionalWorkflowSteps:
    get:
      tags:
      - "Additional Workflow Step"
      summary: "List additional workflow steps"
      description: ""
      operationId: "listAWFSteps"
      produces:
      - "application/json"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      - name: "name"
        in: "query"
        description: "Name of the additional workflow step to filter"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoAdditionalWorkflowStepDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Additional Workflow Step"
      summary: "Create additional workflow step"
      description: ""
      operationId: "createAWFStep"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AdditionalWorkflowStepRequestDto"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/AdditionalWorkflowStepDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/{analyseUid}:
    delete:
      tags:
      - "Analysis"
      summary: "Delete analysis"
      description: ""
      operationId: "delete"
      parameters:
      - name: "analyseUid"
        in: "path"
        required: true
        type: "string"
      - name: "purge"
        in: "query"
        required: false
        type: "boolean"
      responses:
        204:
          description: "No Content"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/bulk:
    delete:
      tags:
      - "Analysis"
      summary: "Delete analyses (batch)"
      description: ""
      operationId: "bulkDeleteAnalyses"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/BulkDeleteAnalyseDto"
      responses:
        204:
          description: "No Content"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/recalculate:
    post:
      tags:
      - "Analysis"
      summary: "Recalculate analysis"
      description: ""
      operationId: "recalculate"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AnalyseRecalculateRequestDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AnalyseRecalculateResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/{analyseUid}/download:
    get:
      tags:
      - "Analysis"
      summary: "Download analysis"
      description: ""
      operationId: "downloadAnalyse"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "analyseUid"
        in: "path"
        required: true
        type: "string"
      - name: "format"
        in: "query"
        required: true
        type: "string"
        enum:
        - "CSV"
        - "CSV_EXTENDED"
        - "LOG"
        - "JSON"
      responses:
        200:
          description: "application/octet-stream"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/byProviders:
    post:
      tags:
      - "Analysis"
      summary: "Create analyses by providers"
      description: ""
      operationId: "createAnalysesForProviders"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CreateAnalyseListAsyncDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AsyncAnalyseListResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/byLanguages:
    post:
      tags:
      - "Analysis"
      summary: "Create analyses by languages"
      description: ""
      operationId: "createAnalysesForLangs"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CreateAnalyseListAsyncDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AsyncAnalyseListResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/{analyseUid}/analyseLanguageParts/{analyseLanguagePartId}/jobs:
    get:
      tags:
      - "Analysis"
      summary: "List jobs of analyses"
      description: "Returns list of job's analyses"
      operationId: "listJobParts"
      produces:
      - "application/json"
      parameters:
      - name: "analyseUid"
        in: "path"
        required: true
        type: "string"
      - name: "analyseLanguagePartId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoAnalyseJobDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/{analyseUid}/analyseLanguageParts/{analyseLanguagePartId}:
    get:
      tags:
      - "Analysis"
      summary: "Get analysis language part"
      description: "Returns analysis language pair"
      operationId: "getAnalyseLanguagePart"
      produces:
      - "application/json"
      parameters:
      - name: "analyseUid"
        in: "path"
        required: true
        type: "string"
      - name: "analyseLanguagePartId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AnalyseLanguagePartDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/analyses/{analyseUid}/jobs/{jobUid}:
    get:
      tags:
      - "Analysis"
      summary: "Get jobs analysis"
      description: "Returns job's analyse"
      operationId: "getJobPartAnalyse"
      produces:
      - "application/json"
      parameters:
      - name: "analyseUid"
        in: "path"
        required: true
        type: "string"
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AnalyseJobDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/async:
    get:
      tags:
      - "Async Request"
      summary: "List pending requests"
      description: ""
      operationId: "listPendingRequests"
      produces:
      - "application/json"
      parameters:
      - name: "all"
        in: "query"
        description: "Pending requests for organization instead of current user. Only\
          \ for ADMIN."
        required: false
        type: "boolean"
        default: false
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoAsyncRequestDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/async/status:
    get:
      tags:
      - "Async Request"
      summary: "Get current limits"
      description: ""
      operationId: "getCurrentLimitStatus"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AsyncRequestStatusDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/async/{asyncRequestId}:
    get:
      tags:
      - "Async Request"
      summary: "Get asynchronous request"
      description: ""
      operationId: "getAsyncRequest"
      produces:
      - "application/json"
      parameters:
      - name: "asyncRequestId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AsyncRequestDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/login:
    post:
      tags:
      - "Authentication"
      summary: "Login"
      description: ""
      operationId: "login"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/logout:
    post:
      tags:
      - "Authentication"
      summary: "Logout"
      description: ""
      operationId: "logout"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        204:
          description: "No Content"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/loginToSession:
    post:
      tags:
      - "Authentication"
      summary: "Login to session"
      description: ""
      operationId: "loginToSession"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginToSessionDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginToSessionResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/loginOther:
    post:
      tags:
      - "Authentication"
      summary: "Login as another user"
      description: "Available only for admin"
      operationId: "loginOther"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginOtherDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/whoAmI:
    get:
      tags:
      - "Authentication"
      summary: "Who am I"
      description: ""
      operationId: "whoAmI"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginUserDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/loginWithGoogle:
    post:
      tags:
      - "Authentication"
      summary: "Login with Google"
      description: ""
      operationId: "loginByGoogle"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginWithGoogleDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/loginWithApple/refreshToken:
    post:
      tags:
      - "Authentication"
      summary: "Login with Apple refresh token"
      description: ""
      operationId: "loginByAppleWithRefreshToken"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginWithAppleDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/loginWithApple/code:
    post:
      tags:
      - "Authentication"
      summary: "Login with Apple with code"
      description: ""
      operationId: "loginByAppleWithCode"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginWithAppleDto"
      - name: "native"
        in: "query"
        description: "For sign in with code from native device"
        required: false
        type: "boolean"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/LoginResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/auth/refreshAppleToken:
    get:
      tags:
      - "Authentication"
      summary: "refresh apple token"
      description: ""
      operationId: "refreshAppleToken"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AppleTokenResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/bilingualFiles/convert:
    post:
      tags:
      - "Bilingual File"
      summary: "Convert bilingual file"
      description: ""
      operationId: "convertBilingualFile"
      consumes:
      - "application/octet-stream"
      produces:
      - "application/octet-stream"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/InputStream"
      - name: "from"
        in: "query"
        required: true
        type: "string"
        enum:
        - "MXLF"
        - "DOCX"
      - name: "to"
        in: "query"
        required: true
        type: "string"
        enum:
        - "MXLF"
        - "DOCX"
      responses:
        200:
          description: "application/octet-stream"
          headers:
            Content-Disposition:
              type: "string"
              description: "Contains filename (UTF-8 encoded). \n\n `filename*=UTF-8''ExampleFileName.md`"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/bilingualFiles:
    put:
      tags:
      - "Bilingual File"
      - "Job"
      summary: "Upload bilingual file"
      description: "Returns updated job parts"
      operationId: "uploadBilingualFile"
      consumes:
      - "application/octet-stream"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/InputStream"
      - name: "format"
        in: "query"
        required: false
        type: "string"
        default: "MXLF"
        enum:
        - "MXLF"
        - "DOCX"
        - "XLIFF"
      - name: "saveToTransMemory"
        in: "query"
        required: false
        type: "string"
        default: "Confirmed"
        enum:
        - "All"
        - "Confirmed"
        - "None"
      - name: "setCompleted"
        in: "query"
        required: false
        type: "boolean"
        default: false
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/JobPartsDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/bilingualFiles/compare:
    post:
      tags:
      - "Bilingual File"
      summary: "Compare bilingual file"
      description: "Compares bilingual file to job state. Returns list of compared\
        \ segments."
      operationId: "compareBilingualFile"
      consumes:
      - "application/octet-stream"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/InputStream"
      - name: "workflowLevel"
        in: "query"
        required: false
        type: "integer"
        default: 1
        maximum: 15
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ComparedSegmentsDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/bilingualFiles/preview:
    post:
      tags:
      - "Bilingual File"
      summary: "Download preview"
      description: "Supports mxliff format"
      operationId: "getPreviewFile"
      consumes:
      - "application/octet-stream"
      produces:
      - "application/octet-stream"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/InputStream"
      responses:
        200:
          description: "application/octet-stream"
          headers:
            Content-Disposition:
              type: "string"
              description: "Contains filename (UTF-8 encoded). \n\n `filename*=UTF-8''ExampleFileName.md`"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/businessUnits/{businessUnitUid}:
    get:
      tags:
      - "Business Unit"
      summary: "Get business unit"
      description: ""
      operationId: "getBusinessUnit"
      produces:
      - "application/json"
      parameters:
      - name: "businessUnitUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/BusinessUnitDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    put:
      tags:
      - "Business Unit"
      summary: "Edit business unit"
      description: ""
      operationId: "updateBusinessUnit"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "businessUnitUid"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/BusinessUnitEditDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/BusinessUnitDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    delete:
      tags:
      - "Business Unit"
      summary: "Delete business unit"
      description: ""
      operationId: "deleteBusinessUnit"
      parameters:
      - name: "businessUnitUid"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "No Content"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/businessUnits:
    get:
      tags:
      - "Business Unit"
      summary: "List business units"
      description: ""
      operationId: "listBusinessUnits"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "Unique name of the business unit"
        required: false
        type: "string"
      - name: "createdBy"
        in: "query"
        description: "Uid of user"
        required: false
        type: "string"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "NAME"
        enum:
        - "NAME"
        - "DATE_CREATED"
      - name: "order"
        in: "query"
        required: false
        type: "string"
        default: "ASC"
        enum:
        - "ASC"
        - "DESC"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoBusinessUnitDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Business Unit"
      summary: "Create business unit"
      description: ""
      operationId: "createBusinessUnit"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/BusinessUnitEditDto"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/BusinessUnitDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/clients/{clientUid}:
    get:
      tags:
      - "Client"
      summary: "Get client"
      description: ""
      operationId: "getClient"
      produces:
      - "application/json"
      parameters:
      - name: "clientUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ClientDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    put:
      tags:
      - "Client"
      summary: "Edit client"
      description: ""
      operationId: "updateClient"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "clientUid"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/ClientEditDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ClientDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    delete:
      tags:
      - "Client"
      summary: "Delete client"
      description: ""
      operationId: "deleteClient"
      parameters:
      - name: "clientUid"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "No Content"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/clients:
    get:
      tags:
      - "Client"
      summary: "List clients"
      description: ""
      operationId: "listClients"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        description: "Unique name of the Client"
        required: false
        type: "string"
      - name: "createdBy"
        in: "query"
        description: "Uid of user"
        required: false
        type: "string"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "NAME"
        enum:
        - "NAME"
        - "DATE_CREATED"
      - name: "order"
        in: "query"
        required: false
        type: "string"
        default: "ASC"
        enum:
        - "ASC"
        - "DESC"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoClientDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Client"
      summary: "Create client"
      description: ""
      operationId: "createClient"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/ClientEditDto"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/ClientDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/connectors/{connectorId}/folders/{folder}/files/{file}:
    get:
      tags:
      - "Connector"
      summary: "Download file"
      description: "Download a file from a subfolder of the selected connector"
      operationId: "getFile"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
      - name: "folder"
        in: "path"
        required: true
        type: "string"
      - name: "file"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/InputStreamLength"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/connectors/{connectorId}:
    get:
      tags:
      - "Connector"
      summary: "Get a connector"
      description: ""
      operationId: "getConnector"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ConnectorDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    put:
      tags:
      - "Connector"
      summary: "Edit connector"
      description: "Edit selected connector"
      operationId: "editConnector"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AbstractConnectorDto"
      - name: "connectionTest"
        in: "query"
        description: "For running connection test"
        required: false
        type: "boolean"
      responses:
        200:
          description: "Edited"
          schema:
            $ref: "#/definitions/ConnectorCreateResponseDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/connectors:
    get:
      tags:
      - "Connector"
      summary: "List connectors"
      description: ""
      operationId: "getConnectorList"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ConnectorListDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/connectors/{connectorId}/folders/{folder}:
    get:
      tags:
      - "Connector"
      summary: "List files in a subfolder"
      description: "List files in a subfolder of the selected connector"
      operationId: "getFolder"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
      - name: "folder"
        in: "path"
        required: true
        type: "string"
      - name: "projectUid"
        in: "query"
        required: false
        type: "string"
      - name: "fileType"
        in: "query"
        required: false
        type: "string"
        default: "ALL"
        pattern: "ALL|FILES_ONLY|FOLDERS_ONLY"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "NAME"
        pattern: "NAME|SIZE|LAST_MODIFIED"
      - name: "direction"
        in: "query"
        required: false
        type: "string"
        default: "ASCENDING"
        pattern: "ASCENDING|DESCENDING"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/FileListDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Connector"
      summary: "Upload a file to a subfolder of the selected connector"
      description: "Upload a file to a subfolder of the selected connector"
      operationId: "uploadFile"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
      - name: "folder"
        in: "path"
        required: true
        type: "string"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        enum:
        - "multipart/form-data"
      - name: "file"
        in: "formData"
        description: "Translated file to upload"
        required: true
        type: "file"
      - name: "sourceFileName"
        in: "formData"
        description: "Name or ID of the original file"
        required: false
        type: "string"
      - name: "subfolderName"
        in: "formData"
        description: "Optional subfolder to upload the file to"
        required: false
        type: "string"
      - name: "mimeType"
        in: "formData"
        description: "Mime type of the file to upload"
        required: false
        type: "string"
      - name: "commitMessage"
        in: "formData"
        description: "Commit message for upload to Git, etc."
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/UploadResultDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/connectors/{connectorId}/folders:
    get:
      tags:
      - "Connector"
      summary: "List files in root"
      description: "List files in a root folder of the selected connector"
      operationId: "getRootFolder"
      produces:
      - "application/json"
      parameters:
      - name: "connectorId"
        in: "path"
        required: true
        type: "string"
      - name: "fileType"
        in: "query"
        required: false
        type: "string"
        default: "ALL"
        pattern: "ALL|FILES_ONLY|FOLDERS_ONLY"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "NAME"
        pattern: "NAME|SIZE|LAST_MODIFIED"
      - name: "direction"
        in: "query"
        required: false
        type: "string"
        default: "ASCENDING"
        pattern: "ASCENDING|DESCENDING"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/FileListDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/jobs/{jobUid}/conversations:
    get:
      tags:
      - "Conversations"
      summary: "List all conversations"
      description: ""
      operationId: "listAllConversations"
      produces:
      - "application/json"
      parameters:
      - name: "jobUid"
        in: "path"
        required: true
        type: "string"
      - name: "includeDeleted"
        in: "query"
        required: false
        type: "boolean"
        default: false
      - name: "since"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ConversationListDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/jobs/conversations/find:
    post:
      tags:
      - "Conversations"
      summary: "Find all conversation"
      description: ""
      operationId: "findConversations"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/FindConversationsDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ConversationListDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/costCenters/{costCenterUid}:
    get:
      tags:
      - "Cost Center"
      summary: "Get cost center"
      description: ""
      operationId: "getCostCenter"
      produces:
      - "application/json"
      parameters:
      - name: "costCenterUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CostCenterDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    put:
      tags:
      - "Cost Center"
      summary: "Edit cost center"
      description: ""
      operationId: "updateCostCenter"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "costCenterUid"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CostCenterEditDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CostCenterDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    delete:
      tags:
      - "Cost Center"
      summary: "Delete cost center"
      description: ""
      operationId: "deleteCostCenter"
      parameters:
      - name: "costCenterUid"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "No Content"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/costCenters:
    get:
      tags:
      - "Cost Center"
      summary: "List of cost centers"
      description: ""
      operationId: "listCostCenters"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        required: false
        type: "string"
      - name: "createdBy"
        in: "query"
        description: "Uid of user"
        required: false
        type: "string"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "NAME"
        enum:
        - "NAME"
        - "DATE_CREATED"
      - name: "order"
        in: "query"
        required: false
        type: "string"
        default: "ASC"
        enum:
        - "ASC"
        - "DESC"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoCostCenterDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Cost Center"
      summary: "Create cost center"
      description: ""
      operationId: "createCostCenter"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/CostCenterEditDto"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/CostCenterDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/customFields/{fieldUid}:
    get:
      tags:
      - "Custom Fields"
      summary: "Get custom field"
      description: ""
      operationId: "getCustomField"
      produces:
      - "application/json"
      parameters:
      - name: "fieldUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CustomFieldDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/customFields:
    get:
      tags:
      - "Custom Fields"
      summary: "Lists custom fields"
      description: ""
      operationId: "getCustomFieldList"
      produces:
      - "application/json"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      - name: "name"
        in: "query"
        description: "Filter by custom field name"
        required: false
        type: "string"
      - name: "allowedEntities"
        in: "query"
        description: "Filter by custom field allowed entities"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "PROJECT"
        collectionFormat: "multi"
      - name: "types"
        in: "query"
        description: "Filter by custom field types"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "MULTI_SELECT"
          - "SINGLE_SELECT"
          - "STRING"
          - "NUMBER"
          - "URL"
          - "DATE"
        collectionFormat: "multi"
      - name: "createdBy"
        in: "query"
        description: "Filter by custom field creators UIDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "modifiedBy"
        in: "query"
        description: "Filter by custom field updaters UIDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "uids"
        in: "query"
        description: "Filter by custom field UIDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "required"
        in: "query"
        description: "Filter by custom field required parameter"
        required: false
        type: "boolean"
      - name: "sortField"
        in: "query"
        description: "Sort by this field"
        required: false
        type: "string"
        enum:
        - "NAME"
        - "CREATED"
        - "LAST_MODIFIED"
      - name: "sortTrend"
        in: "query"
        description: "Sort direction"
        required: false
        type: "string"
        default: "ASC"
        enum:
        - "ASC"
        - "DESC"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoCustomFieldDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Custom Fields"
      summary: "Create custom field"
      description: ""
      operationId: "createCustomField"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CreateCustomFieldDto"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/CustomFieldDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/customFields/{fieldUid}/options:
    get:
      tags:
      - "Custom Fields"
      summary: "Lists options of custom field"
      description: ""
      operationId: "getCustomFieldOptionList"
      produces:
      - "application/json"
      parameters:
      - name: "fieldUid"
        in: "path"
        required: true
        type: "string"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      - name: "name"
        in: "query"
        description: "Filter by option name"
        required: false
        type: "string"
      - name: "sortField"
        in: "query"
        description: "Sort by this field"
        required: false
        type: "string"
        enum:
        - "NAME"
      - name: "sortTrend"
        in: "query"
        description: "Sort direction"
        required: false
        type: "string"
        default: "ASC"
        enum:
        - "ASC"
        - "DESC"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoCustomFieldOptionDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/customFileTypes:
    get:
      tags:
      - "Custom File Type"
      summary: "Get All Custom file type"
      description: ""
      operationId: "getAllCustomFileType"
      produces:
      - "application/json"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoCustomFileTypeDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Custom File Type"
      summary: "Create custom file type"
      description: ""
      operationId: "createCustomFileTypes"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/CreateCustomFileTypeDto"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/CustomFileTypeDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    delete:
      tags:
      - "Custom File Type"
      summary: "Delete multiple Custom file type"
      description: ""
      operationId: "deleteBatchCustomFileType"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DeleteCustomFileTypeDto"
      responses:
        204:
          description: "Deleted"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/customFileTypes/{customFileTypeUid}:
    get:
      tags:
      - "Custom File Type"
      summary: "Get Custom file type"
      description: ""
      operationId: "getCustomFileType"
      produces:
      - "application/json"
      parameters:
      - name: "customFileTypeUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CustomFileTypeDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    put:
      tags:
      - "Custom File Type"
      summary: "Update Custom file type"
      description: ""
      operationId: "updateCustomFileType"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "customFileTypeUid"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/UpdateCustomFileTypeDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CustomFileTypeDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    delete:
      tags:
      - "Custom File Type"
      summary: "Delete Custom file type"
      description: ""
      operationId: "deleteCustomFileType"
      consumes:
      - "application/json"
      parameters:
      - name: "customFileTypeUid"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "Deleted"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/netRateSchemes/{netRateSchemeUid}:
    get:
      tags:
      - "Net Rate Scheme"
      summary: "Get net rate scheme"
      description: ""
      operationId: "getDiscountScheme"
      produces:
      - "application/json"
      parameters:
      - name: "netRateSchemeUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/NetRateScheme"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    put:
      tags:
      - "Net Rate Scheme"
      summary: "Edit net rate scheme"
      description: ""
      operationId: "updateDiscountScheme"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/NetRateSchemeEdit"
      - name: "netRateSchemeUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/NetRateScheme"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/netRateSchemes:
    get:
      tags:
      - "Net Rate Scheme"
      summary: "List net rate schemes"
      description: ""
      operationId: "getDiscountSchemes"
      produces:
      - "application/json"
      parameters:
      - name: "pageNumber"
        in: "query"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoNetRateSchemeReference"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Net Rate Scheme"
      summary: "Create net rate scheme"
      description: ""
      operationId: "createDiscountScheme"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DiscountSchemeCreateDto"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/NetRateScheme"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/netRateSchemes/{netRateSchemeUid}/workflowStepNetSchemes/{netRateSchemeWorkflowStepId}:
    get:
      tags:
      - "Net Rate Scheme"
      summary: "Get scheme for workflow step"
      description: ""
      operationId: "getDiscountSchemeWorkflowStep"
      produces:
      - "application/json"
      parameters:
      - name: "netRateSchemeUid"
        in: "path"
        required: true
        type: "string"
      - name: "netRateSchemeWorkflowStepId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/NetRateSchemeWorkflowStep"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    put:
      tags:
      - "Net Rate Scheme"
      summary: "Edit scheme for workflow step"
      description: ""
      operationId: "editDiscountSchemeWorkflowStep"
      produces:
      - "application/json"
      parameters:
      - name: "netRateSchemeUid"
        in: "path"
        required: true
        type: "string"
      - name: "netRateSchemeWorkflowStepId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/NetRateSchemeWorkflowStepEdit"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/NetRateSchemeWorkflowStep"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/netRateSchemes/{netRateSchemeUid}/workflowStepNetSchemes:
    get:
      tags:
      - "Net Rate Scheme"
      summary: "List schemes for workflow step"
      description: ""
      operationId: "getDiscountSchemeWorkflowSteps"
      produces:
      - "application/json"
      parameters:
      - name: "netRateSchemeUid"
        in: "path"
        required: true
        type: "string"
      - name: "pageNumber"
        in: "query"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoNetRateSchemeWorkflowStepReference"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/domains/{domainUid}:
    get:
      tags:
      - "Domain"
      summary: "Get domain"
      description: ""
      operationId: "getDomain"
      produces:
      - "application/json"
      parameters:
      - name: "domainUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DomainDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    put:
      tags:
      - "Domain"
      summary: "Edit domain"
      description: ""
      operationId: "updateDomain"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "domainUid"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DomainEditDto"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DomainDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    delete:
      tags:
      - "Domain"
      summary: "Delete domain"
      description: ""
      operationId: "deleteDomain"
      parameters:
      - name: "domainUid"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "No Content"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/domains:
    get:
      tags:
      - "Domain"
      summary: "List of domains"
      description: ""
      operationId: "listDomains"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        required: false
        type: "string"
      - name: "createdBy"
        in: "query"
        description: "Uid of user"
        required: false
        type: "string"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "NAME"
        enum:
        - "NAME"
        - "DATE_CREATED"
      - name: "order"
        in: "query"
        required: false
        type: "string"
        default: "ASC"
        enum:
        - "ASC"
        - "DESC"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoDomainDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
    post:
      tags:
      - "Domain"
      summary: "Create domain"
      description: ""
      operationId: "createDomain"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DomainEditDto"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/DomainDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/emailTemplates:
    get:
      tags:
      - "Email Template"
      summary: "List email templates"
      description: ""
      operationId: "listOrgEmailTemplates"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        required: false
        type: "string"
      - name: "pageNumber"
        in: "query"
        description: "Page number, starting with 0, default 0"
        required: false
        type: "integer"
        default: 0
        minimum: 0
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Page size, accepts values between 1 and 50, default 50"
        required: false
        type: "integer"
        default: 50
        maximum: 50
        minimum: 1
        format: "int32"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageDtoOrganizationEmailTemplateDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/emailTemplates/{templateUid}:
    get:
      tags:
      - "Email Template"
      summary: "Get email template"
      description: ""
      operationId: "getOrgEmailTemplate"
      produces:
      - "application/json"
      parameters:
      - name: "templateUid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/OrganizationEmailTemplateDto"
        415:
          description: "Unsupported media type"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
        404:
          description: "Resource not found"
        401:
          description: "Not authorized"
        403:
          description: "Forbidden"
        410:
          description: "Gone"
        408:
          description: "Timeout"
        405:
          description: "Method not allowed"
        501:
          description: "Not implemented"
        429:
          description: "Too many requests"
  /api2/v1/projects/{projectUid}/fileHandovers:
    get:
      tags:
      - "Job"
[...]
