<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<ul class="header">
</ul>
<div class="flex-container">
    <div>
        <h2 style="text-align: center;">Sign in</h2>
        <form action="/set_account" method="post">
            <label>Login</label>
            <br>
            <input name="login" placeholder="Login" style="width: 280px;" type="text" >
            <br>
            <label>Password</label>
            <br>
            <input name="password" placeholder="Password" style="width: 280px; " type="password" >
            <br>
            <input class="green-link" type="submit" value="Log in">
        </form>
    </div>
</div>

</body>
</html>